@import url('index.css');

/*
 * ========================================
 * 1. COVER PRINCIPAL
 * ========================================
 */
#about-cover-section {
    /* Ocupa a largura total (container já faz isso) */
    position: relative; 
    overflow: hidden; 
    
    /* Define 50% da altura da viewport para o COVER */
    height: 50vh;
}

#about-cover-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Container do Título */
#cover-title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    /* Adiciona padding lateral igual ao do Bootstrap (container) */
    padding: 1.5rem; 
    max-width: 70%; /* Limita a largura do título */
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

/*
 * ========================================
 * 2. LOGO DINÂMICA COM PULSO
 * ========================================
 */

#solution {
    margin: 15rem 0 15rem 0;
}

@keyframes bright-pulse-white {
    0%, 100% {
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9)); 
    }
    50% {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4)); 
    }
}

@keyframes bright-pulse-green {
    0%, 100% {
        filter: drop-shadow(0 0 20px rgba(1, 192, 151, 0.9)); 
    }
    50% {
        filter: drop-shadow(0 0 5px rgba(1, 192, 151, 0.4)); 
    }
}

.logo-dynamic-bright {
    content: url('../images/logos/sigabem-light-mode-without-text.png');
    will-change: filter;
    animation-name: bright-pulse-green;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
}

[data-bs-theme="dark"] .logo-dynamic-bright {
    content: url('../images/logos/sigabem-dark-mode-without-text.png');
    will-change: filter;
    animation-name: bright-pulse-white; 
    animation-duration: 2s;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
}

/*
 * ========================================
 * 3. FLUXOGRAMA DINÂMICO (LIGHT E DARK MODE)
 * ========================================
 */
.fluxograma-dynamic {
    content: url('../images/about/fluxograma-light-mode.png');
}

/* 2. ESTILO DARK MODE */
[data-bs-theme="dark"] .fluxograma-dynamic {
    content: url('../images/about/fluxograma-dark-mode.png');
}







.list-unstyled li i {
    position: relative;
    top: -7px; /* Valor típico para compensar o line-height do texto */
    /* Você pode tentar -2px ou -4px. */
}